/.bashrc
/.cache
/.config
/.gitconfig
/.idea
/.ipython
/.java
/.lightning_studio
/.lightningignore
/.vimrc
/.vscode
/.zcompdump
/.zshrc
/.condarc
/.cursor-server
/.hushlogin
/.jupyter
/.nvm
/.local
/.oh-my-zsh
/.profile
/.ssh
/.docker
/.sudo_as_admin_successful
/.vscode-server
/.windsurf-server